@use "sass:color";

$my-white: #ffffff !default;
$eerie-black: #1f2421ff !default;
$subtle-sea: rgb(45, 74, 69) !default;
$caribbean-current: #216869ff !default;
$hookers-green: #588072ff !default;
$cambridge-blue: #7D9A94ff !default;
$jungle-green: #49a078ff !default;
$olivine: #A0B38Aff !default;
$cambridge-blue-2: #9cc5a1ff !default;
$timberwolf: #D1D1D1ff !default;
$honeydew: #E9FFF2ff !default;

$theme-bg-light: $my-white !default;
$theme-text-light: $eerie-black !default;
$theme-accent-text-light: $hookers-green !default;
$theme-subtle-text-light: $cambridge-blue-2 !default;
$theme-bg-2-light: $timberwolf !default;
$theme-bg-3-light: $honeydew !default;

$theme-bg-dark: $eerie-black !default;
$theme-text-dark: $honeydew !default;
$theme-accent-text-dark: $cambridge-blue-2 !default;
$theme-subtle-text-dark: $caribbean-current !default;
$theme-bg-2-dark: $hookers-green !default;
$theme-bg-3-dark: $subtle-sea !default;